@model List<AuthorDetail>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    string books = string.Empty;
}

<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Author Name :</th>
                    <th>Birth Date</th>
                    <th>Biography</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var author in Model)
                {
                    <tr>
                        <td>@author.AuthorId</td>
                        <td>@author.AuthorName</td>
                        <td>@author.BirthDate</td>
                        <td>@author.Biography</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

